<section class="container-fluid explore">
  <div class="d-flex flex-column">
    <div>
      <div class="d-flex justify-content-between align-items-center p-3 my-1">
        <p><strong>Channel Browser</strong></p>
        <!-- Button trigger modal -->
<button type="button" class="btn btn-light border-dark" data-toggle="modal" data-target="#exampleModalScrollable">
   Create Channel
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Create Channel</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Done</button>
      </div>
    </div>
  </div>
</div>
      </div>
      <input
        type="text"
        class="form-control form-control-lg border-dark"
        placeholder="Search by channel name"
      />
      <div class="d-flex justify-content-between mt-2">
        <p class="text-muted">235 channels</p>
<div class="dropdown">
  <a class="btn light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort By A-Z
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Hot</a>
    <a class="dropdown-item" href="#">New</a>
    <a class="dropdown-item" href="#">A-Z</a>
  </div>
</div>

      </div>

    </div>
    <div class = 'scroll'>
      <p class="lead my-3">New Channel</p>
      <p class="lead my-3">New Channel</p>
    </div>
  </div>
</section>
