


    <!-- <app-login></app-login> -->
     <!-- <app-navbar></app-navbar>  -->
     <router-outlet></router-outlet>
    <!-- <div class="row vw-100 main">
      <div class="col-lg-3 h-100 bg-light border border-right border-dark p-0">
        <app-sidebar
          [selectedChannel]="selectedChannel"
          [channels]="channels"
          [switchChannel] = 'switchChannel'
        ></app-sidebar>
      </div>
      <div class="col-lg-9">
        <div class = 'chat-window'>
        <app-chat [messages]="messages" class = 'messages'></app-chat>
        <app-input class = 'input' [send] = 'send' [inputValue] = 'inputValue' [handleInput] = 'handleInput'></app-input>/app-input>
        </div>
      </div>
    </div>
  -->
  <!--====== jquery js ======-->

