<div class="accordion" id="accordionExample">
  <div class="card border-0">
    <div class="card-header p-0 bg-primary" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-lg text-light" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <strong>CHANNELS</strong>
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <ul class="list-group text-center">
  <button *ngFor = 'let channel of channels' [routerLink] = "['/chat']" class="list-group-item bg-primary text-light" (click) = 'switchChannel'>{{channel.name}}</button>

</ul>
    </div>
  </div>
  <div class="card border-0">
    <div class="card-header bg-primary p-0" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-lg  text-light collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <strong>ACCOUNT</strong>
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <ul class="list-group text-center">
        <button class="btn btn-primary list-group-item bg-primary text-light">Sign Out</button>
      </ul>
    </div>
  </div>
  <div class="card border-0">
    <div class="card-header bg-primary pbutton" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-lg text-light collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <strong>EXPLORE</strong>
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <ul class="list-group text-center">
        <a [routerLink] = "['/chat/explore']" class="list-group-item bg-primary text-light">Find Channels</a>
      </ul>
    </div>
  </div>
</div>

  <!-- <button [routerLink]="['/chat/explore']" class = 'btn btn-lg w-100 btn-light mt-2'>EXPLORE</button> -->
<!-- <div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle w-100" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
    Channels
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" href="#">Create Channel</a></li>
    <li><a class="dropdown-item" href="#">Browse Channels</a></li>
  </ul>
</div> -->
<!-- class="list-group" -->

<!-- <div
      *ngFor="let channel of channels; let i = index"
      class = 'text-center'
    >
      <a
        href="#"
        [class.active]="channel.name == selectedChannel.name"
        [class.hasNewMessage] = 'channel.hasNewMessage'
        (click)="switchChannel(channel.id)"
        class="list-group-item list-group-item-action border border-bottom m-0"
        aria-current="true"
        *ngIf = 'channel'
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ channel.name }}</h5>
          <small>3 days ago</small>
        </div>
      </a> -->
<!-- </div> -->
<!-- <div *ngIf = '!channels?.length'>
      <h1>No channels</h1>
    </div> -->

<!--
  <div class="col-lg-9 p-0 d-flex flex-column">
    <div class="messages">
      <div *ngFor="let message of selectedChannel.messages">
        <h1>{{ message.body }}</h1>
      </div>
    </div> -->

<!-- <div class="input border border-dark">
      <input (change) = 'handleInput($event)' value = '{{inputValue}}' type="text" placeholder = 'Send a message...' />
      <button (click) = 'send()'  class="btn btn-lg bg-primary">Send message</button>
    </div>
  </div> -->
