
.messages {
    flex-basis: 85%;
}

.input {
  flex-basis: 15%;
  border: 1px solid black;
}
@media only screen and (max-width: 576px) {
  .wrapper {
    flex-direction: row;
  }
}
.card:hover {
  flex-grow: 1;
}
